# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
web-build/
.expo/
.expo-shared/
.turbo/
.parcel-cache/

# TypeScript
*.tsbuildinfo

# Test outputs
coverage/
.reassure/
.vitest-cache/

# System
.DS_Store
Thumbs.db
*.log
*.pid

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Env
.env
.env.local
.env.*.local

# iOS / Android build artifacts (inside apps/*/)
apps/*/ios/Pods/
apps/*/ios/build/
apps/*/ios/.xcode.env.local
apps/*/android/app/build/
apps/*/android/build/
apps/*/android/.gradle/
apps/*/android/local.properties
apps/*/android/app/release/

# Husky internals
.husky/_/

# Storybook
storybook-static/
